body {
/*    background: #eee;*/
    text-align: center;
    padding: 0 25px;
    font-family: Montserrat, sans-serif;
}

html {
    background-color: #83677B;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: #64485C;
    padding: 50px 60px;
    border-width: 0 1px 1px 1px;
    border-radius: 20px;
}

#main h1 {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
  /*padding: 5px;
  margin-bottom: 5px;*/
  position: relative;
  background-color: #64485C;
  width: 50%;
  border-radius: 10px 30px 30px;
  border: 8px inset: maroon;
  padding: 20px;
  margin: auto;
  text-align: center; 
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
/*    font-size: 100px;*/
    font-weight: bold;
    color: #fff;
/*    background-color: #0090da;*/
}

h1 {
  font-family: 'Shrikhand', cursive;
}

.submit {
  cursor: pointer;
  border-radius: 30px;
  background: linear-gradient(#501B1D, #ADADAD)
}




